@import 'Geral.scss';


body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $fonte-Roboto;
    overflow: hidden;

    img.backgroundsPage {
        width: 100%;
        min-height: calc(100vh + 30px);
        position: fixed;
        z-index: -1;
        object-fit: cover;
        object-position: center;
        transition: 1s opacity ease-in-out;
        margin-top: -30px;
        
        &#hide {
            opacity: 0;
        }
    }

    article#localPerfilUsers {
        width: auto;
        height: auto;
        position: fixed;
        top: 20px;
        left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }

    nav {
        width: 100px;
        height: 100vh;
        position: fixed;
        right: 0px;
        top: 0px;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            width: auto;
            height: auto;
            padding: 14px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 30px;
            background-color: $cor1;
            border-radius: 33px;
            position: absolute;
            transition: 300ms right ease-in-out;

            li {
                width: 30px;
                height: 30px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                list-style-type: none;

                &.buttonsNav:hover {
                    transition: scale 200ms ease-in-out;
                    scale: 1.2;
                    cursor: pointer;
                }

                &.buttonsNav:active {
                    transition: scale 200ms ease-in-out;
                    scale: 1;
                }

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
            }
        }

        article#pagOpcoes {
            width: 300px;
            height: 700px;
            background-color: $cor1;
            position: absolute;
            right: 100px;
            border-radius: 25px;
            display: none;
            overflow-x: hidden;
            overflow: hidden;

            div#loading-icon {
                width: 100%;
                height: 100%;
                background-color: black;
                position: absolute;
                z-index: 1;
                display: none;
            }

            section {
                // width: 100%;
                height: 100%;
                padding: 15px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                overflow-x: auto;

                &.abaNav {
                    display: none;
                }

                &#backgoundsNav {
                    
                    &::-webkit-scrollbar {
                        width: 1px;
                    }
    
                    img {
                        width: 100%;
                        height: 135px;
                        object-fit: cover;
                        border-radius: 20px;
                        cursor: pointer;
                    }
                }

                &#salaNav {

                    div {
                        display: flex;
                        justify-content: space-around;
                        color: $white;


                        span {
                            width: 50px;
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            gap: 5px;

                            img {
                                width: 20px;
                            }
                        }
                    }

                    div.btnSala {
                        display: block;
                        text-align: center;

                        p {
                            font-size: 20px;
                            font-family: $fonte-Josefin-San;
                        }

                        div {
                            margin-top: 15px;

                            button {
                                color: $white;
                                padding: 10px 20px;
                                border-radius: 10px;
                                background-color: #393737;
                                border: none;
                                cursor: pointer;

                                &.dentroDaSala {
                                    display: none;
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    main {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        flex-direction: column;

        article {
            width: 90%;
            max-width: 700px;
            height: auto;

            h1#relogio {
                font-size: 12.5em;
                text-align: center;
                margin: 0px;
            }

            input {
                width: 100%;
                margin: 14px 0px 46px;
                background-color: $cor1;
                border: none;
                padding: 12px 14px;
                border-radius: 10px;
                color: $cor4;

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: $cor4;
                }
            }

            section#localMsgChat {
                width: 100%;
                height: 300px;
                background-color: rgba(0, 0, 0, 0.397);
                border-radius: 19px;
                overflow-x: hidden;

                &::-webkit-scrollbar {
                    width: 1px;
                }
                
                &::-webkit-scrollbar-track {
                    background: transparent;
                }
                
                &::-webkit-scrollbar-thumb {
                    background: transparent;
                }  
                
                div {
                    width: 90%;
                    gap: 12px;
                    color: $white;
                    font-size: 0.8em;
                    background-color: rgba(104, 102, 102, 0.397);
                    padding: 16px;
                    border-radius: 19px;
                    font-family: $fonte-Poppins;
                    display: flex;
                    margin-bottom: 10px;
                    
                    &.msgsfriend {
                        float: left;
                        clear: both;
                        background-color: rgba(104, 102, 102, 0.397);
                    }

                    &.msgsYour {
                        float: right;
                        clear: both;
                        background-color: rgba(184, 183, 183, 0.534);

                        img {
                            display: none;
                        }
                    }

                    img {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                    }
                }
            }

            .sound-wave {
                width: 87px;
                height: 50px;
                position: relative;
                background-color: transparent;
                overflow: hidden;
                margin: 30px auto;
                display: none;
            }
            
            .sound-wave span {
                display: inline-block;
                width: 5px;
                height: 100%;
                background-color: #fff;
                opacity: 0.8;
                animation: soundWave 0.7s linear infinite;
                border-radius: 10px;
            }
            
            .sound-wave span:nth-child(2) {
                animation-delay: -1.2s;
            }
            
            .sound-wave span:nth-child(3) {
                animation-delay: -0.9s;
            }
            
            .sound-wave span:nth-child(4) {
                animation-delay: -0.6s;
            }
            
            .sound-wave span:nth-child(5) {
                animation-delay: -0.3s;
            }
            
            .sound-wave span:nth-child(6) {
                animation-delay: -0.9s;
            }
            
            .sound-wave span:nth-child(7) {
                animation-delay: -1.3s;
            }
            
            .sound-wave span:nth-child(8) {
                animation-delay: -7s;
            }
            
            .sound-wave span:nth-child(9) {
                animation-delay: -6s;
            }
            
            .sound-wave span:nth-child(10) {
                animation-delay: -0.3s;
            }
            
            .sound-wave span:nth-child(11) {
                animation-delay: -0.9s;
            }
            
            @keyframes soundWave {
                0% {
                    transform: scaleY(1);
                }
                50% {
                    transform: scaleY(0.4);
                }
                100% {
                    transform: scaleY(1);
                }
            }
        }
    }

    div#localCodigoSala {
        position: fixed;
        bottom: 10px;
        right: 10px;
        display: none;

        p {
            color: $cor3;

            span {
                color: $white;
            }
        }
    }

    div#musicaTocandoAgr {
        display: none;
        align-items: end;
        justify-content: end;
        position: fixed;
        bottom: 10px;
        left: 20px;
        color: $white;
        gap: 19px;

        img {
            width: 65px;
            height: 65px;
            background-color: $white;
            -o-object-fit: cover;
            object-fit: cover;
        }

        div {
            p {
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 16px;
                font-weight: 500;
            }

            span {
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 13px;
                color: #ffffff77;
            }
        }
    }
}