main {
    padding-top: 50px;
    padding: 20px;

    #codigoSala {
        color: red;
    }

    section {
        margin-top: 30px;

        article { 
            margin-top: 10px;
            min-height: 50px;
            border: 1px solid red;
            padding: 10px;
        }
    }

    #espera {
        margin-top: 50px;
        text-align: center;
    }

    #modoSala {
        position: absolute;
        bottom: 10px;
        margin-left: 50%;
        transform: translate(-50%);
        padding: 10px 20px;
        color: white;
        background-color: rgb(0, 255, 0);
        border: none;
        cursor: pointer;
    }
}
