* {
    margin: 0px;
    padding: 0px;
}

html {
    overflow: hidden;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(79, 205, 255);
    overflow: hidden;
}

h1 {
    top: 0px;
    margin: 20px;
    color: white;
    position: absolute;
}

section#nuvens {
    width: 100%;
    height: auto;
    display: flex;
    top: 0px;
    position: absolute;
    animation: nuvens 12s infinite linear;
}

section#nuvens2 {
    width: 100%;
    height: auto;
    display: flex;
    top: 180px;
    position: absolute;
    animation: nuvens 20s infinite linear;
}

@keyframes nuvens {
    from {
        right: -100%;
    }

    to {
        right: 100%;
    }
}

section#nuvens, section#nuvens2 > div {
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-image: url('../img/clouds.png');
}

img {
    position: absolute;
    bottom: 60px;
}

img#mario {
    height: 130px;
}

img.jump {
    animation: jump 400ms linear;
}

@keyframes jump {
    0% {
        bottom: 60px;
    }

    40% {
        bottom: 230px;
    }

    50% {
        bottom: 230px;
    }

    60% {
        bottom: 230px;
    }

    100% {
        bottom: 60px;
    }
}

img#tubo {
    height: 70px;
    animation: tubo 2s infinite linear;
}

@keyframes tubo {
    from {
        right: -88px;
    }

    to {
        right: 100%;
    }
}

img.perdeu {
    bottom: -200px;
    animation: perdeu 600ms linear;
}

@keyframes perdeu {
    0% {
        bottom: 60px;
    }

    40% {
        bottom: 200px;
    }

    50% {
        bottom: 220px;
    }

    60% {
        bottom: 200px;
    }

    100% {
        bottom: -200px;
    }
}

section#chao {
    width: 200%;
    height: 60px;
    display: flex;
    animation: chao 4s infinite linear;
    position: absolute;
    bottom: 0px;
}

section#chao > div {
    width: 100%;
    height: 60px;
    background-size: contain;
    background-image: url('../img/tijolo.jpg');
    overflow: hidden;
}

@keyframes chao {
    from {
        left: -100px;
    }

    to {
        left: -100%;
    }
}

section#perdeu {
    width: 200px;
    height: 200px;
    position: fixed;
    top: -100%;
    padding: 20px;
    margin-left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
}

section#perdeu > h2 {
    color: white;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
}

section#perdeu > button {
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-size: contain;
    font-size: 20px;
}

/* ------- */
@media screen and (max-width: 600px) {
    img#tubo {
        animation: tubo 1.200s infinite linear;
    }
    
    @keyframes tubo {
        from {
            right: -88px;
        }
    
        to {
            right: 100%;
        }
    }

    section#chao {
        width: 200%;
        height: 60px;
        display: flex;
        animation: chao1 2s infinite linear;
        position: absolute;
        bottom: 0px;
        overflow: hidden; 
    }
    
    @keyframes chao1 {
        from {
            left: -100px;
        }
    
        to {
            left: -100%;
        }
    }

    section#chao > div {
        width: 100%;
        height: 60px;
        background-size: contain;
        background-image: url('../img/tijolo.jpg');
        overflow: hidden; 
    }

}