* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

section#calculadora {
    max-width: 270px;
    height: auto;
    margin: auto;
    margin-top: 5%;
    background-color: rgba(39, 26, 33, 0.781);
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.479);
}

section#bolinhas {
    display: flex;
    margin: 10px;
}

div.ball {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
}

div#b1 {
    background-color: rgba(255, 0, 0, 0.836);
}

div#b2 {
    background-color: rgba(255, 217, 0, 0.836);
}

div#b3 {
    background-color: rgba(58, 204, 0, 0.911);
}

article#tela {
    width: 90%;
    height: 60px;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
    text-align: end;
    font-size: 25px;
}

article#teclado {
    display: flex;
    flex-wrap: wrap;
}

article#teclado > button {
    width: 67.5px;
    height: 60px;
    display: flex;
    color: white;
    cursor: pointer;
    border: 0,1px solid rgba(0, 0, 0, 0.39);
}

article#teclado > button#tac {
    width: 135px;
}

article#teclado > button#t0 {
    width: 135px;
    border-radius: 0px 0px 0px 20px;
}

article#teclado > button#tigual {
    border-radius: 0px 0px 20px 0px;
}

article#teclado > button > p {
    font-size: 30px;
    margin-left: 50%;
    margin-top: 10px;
    transform: translate(-50%);
}

button.number, .apagar, #porcentagem, #ponto {
    background-color: rgba(172, 172, 172, 0.349);
}

button.simbolo{
    background-color: rgba(255, 174, 0, 0.829);
}

/**/