@import 'general.scss';

body {
    width: calc(100vw - 58px);
    position: absolute;
    right: 0px;
    font-family: $fonte-Poppins;
    background-color: $cor5;
    padding-bottom: 150px;
    padding-top: 100px;

    nav {
        width: 58px;
        height: 100vh;
        background-color: $cor3;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 15px;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;

        button {
            width: 23px;
            height: 23px;
            border: none;
            background-color: transparent;
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }

        button#config {
            background-image: url(../img/icones/menu.png);
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            min-height: 90vh;
            gap: 30px;

            li {
                button#HomeBtn {
                    background-image: url(../img/icones/home.png);
                }

                button#BibliotecaBtn {
                    background-image: url(../img/icones/biblioteca.png);
                }

                button#PesquisaBtn {
                    background-image: url(../img/icones/pesquisar.png);
                }

                button#AddMusicaBtn {
                    background-image: url(../img/icones/addMusic.png);
                }
            }
        }
    }

    //? ----------
    section#localBanners {
        max-width: 1288px;
        width: 90%;
        height: 330px;
        margin: 28px auto 53px;
        position: relative;
        background-color: $cor4;
        border-radius: 22px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../img/banners/Banner1.png);
        background-position: bottom center;
    }

    main {
        width: 100%;
        height: auto;

        section {
            max-width: 1288px;
            width: 90%;
            height: auto;
            margin: 0px auto 38px;
            color: $white;

            article {
                display: flex;
                flex-wrap: wrap;
                gap: 14px;
                margin-top: 15px;

                div.musicaRecente {
                    width: 123px;
                    height: 123px;
                    background-color: $cor4;
                    border-radius: 22px;
                    cursor: pointer;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 22px;
                    }
                }
                
                div.musicaMaisTocada {
                    width: 139px;
                    height: 192px;
                    background-color: $cor4;
                    border-radius: 7px;
                    overflow: hidden;
                    cursor: pointer;

                    div.localImgMaisTocada {
                        width: 118px;
                        height: 107px;
                        border-radius: 7px;
                        background-color: $white;
                        margin: 12px auto;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                            border-radius: 7px;
                        }
                    }

                    h3 {
                        width: 118px;
                        max-height: 32px;
                        font-size: 12px;
                        margin: 2px auto;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    p {
                        width: 118px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 12px;
                        margin: auto;
                        color: $cor2;
                    }
                }
            }
        }
    }

    //? -----------------
    section#pagAddMusicas {
        width: calc(100% - 60px);
        height: 100vh;
        position: fixed;
        top: 0px;
        right: 0px;
        display: none;
        background-color: $cor5;
        overflow: auto;
        z-index: 2;

        article {
            width: 100%;
            min-height: calc(100vh + 110px);

            h1 {
                max-width: 358px;
                margin: 33px auto;
                text-align: center;
                color: $white;
                font-size: 24px;
            }
    
            button#btnFecharAddMusic {
                width: 23px;
                height: 23px;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url(../img/icones/X.png);
                position: absolute;
                top: 23px;
                right: 19px;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }

            div {
                max-width: 900px;
                margin: auto;
                color: $white;
                font-size: 15px;

                div.localInputPesquisa {
                    width: 100%;
                    max-width: 900px;
                    margin: 14px auto 32px;

                    input {
                        max-width: 900px;
                        width: calc(100% - 72px);
                        border: none;
                        padding: 11px 23px;
                        background-color: rgba(75, 75, 75, 0.4705882353);
                        display: block;
                        border-radius: 24px;
                        padding-left: 50px;
                        color: $white;
                    }

                    img {
                        left: 15px;
                    }
                }

                div#localBtnsAddMusica {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    input {
                        display: none;
                    }

                    label {
                        border: none;
                        background-color: $cor2;
                        color: $white;
                        margin: 55px 0px 40px;
                        padding: 12px 55px;
                        cursor: pointer;
                    }
                }
    
                div#localPublicaPrivadaMusicaAdd {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: 12px;
                    align-items: end;
                    margin: 0px;

                    input[type=checkbox] {
                        all: unset;
                        width: 25px;
                        height: 25px;
                        margin-top: 20px;
                        border: 1px solid $cor2;
                        cursor: pointer;
    
                        &:checked {
                            background-color: $cor1;
                            border: 1px solid $cor1;
                        }
                    }
                }

                button#postar {
                    border: none;
                    background-color: $cor2;
                    color: $white;
                    margin: 36px auto;
                    padding: 12px 55px;
                    display: block;
                    font-size: 16px;
                    font-family: $fonte-Carter;
                    cursor: pointer;
                }
            }
        }

    }

    section#pagPesquisa {
        width: calc(100% - 60px);
        height: 100vh;
        position: fixed;
        top: 0px;
        right: 0px;
        display: none;
        overflow: auto;
        z-index: 2;
        background-color: $cor5;
        
        article {
            max-width: 1288px;
            width: 90%;
            height: auto;
            margin: 150px auto 38px;
            color: $white;
        }
    }

    //! ------------------------------------------------------
    section#menuTocandoMusica {
        width: calc(100% - 32px);
        height: 100px;
        position: fixed;
        bottom: -100vh;
        transition: 500ms bottom ease-out;
        left: 0px;
        background-color: $cor6;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 16px;
        color: $white;

        div#parteNomeMusica {
            max-width: 300px;
            display: flex;
            align-items: center;
            justify-content: end;
            
            img#imgMusicaTocandoAgora {
                width: 65px;
                height: 65px;
                background-color: $white;
                margin-right: 19px;
                border-radius: 7px;
                object-fit: cover;
            }

            div {
                margin-right: 30px;

                h3 {
                    width: 100px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-size: 12px;
                    font-weight: 500;
                }

                p {
                    width: 100px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-size: 13px;
                    color: $cor2;
                }
            }

            img#hearAdd {
                width: 20px;
                margin-bottom: -20px;
            }
        }

        div#parteCentralConfigMusica {
            div {
                width: 118px;
                margin: auto;
                display: flex;
                align-items: center;
                gap: 7px;

                button {
                    background-color: transparent;
                    border: none;

                    &#back {
                        width: 26px;
                        height: 21px;
                        background-image: url(../img/icones/back.png);
                    }
    
                    &#play {
                        width: 47px;
                        height: 47px;
                        background-image: url(../img/icones/pause.png);
                    }
    
                    &#next {
                        width: 26px;
                        height: 21px;
                        background-image: url(../img/icones/next.png);
                    }
                }
            }

            div#barraTime {
               width: 485px;
               font-size: 10px;
               display: flex;
               align-items: center;
               margin: 5px auto;

                $spacing: 12px;
                $module: 48px;
                :root {
                --progressW: 50%;
                }
                
                .sliderBar {
                    position: relative;
                    margin: 0 $spacing;
                }
                [type=range] {
                    -webkit-appearance: none;
                    width: calc(100% - 50px);
                    vertical-align: middle;
                    border: none;
                    outline: none;
                }
                @mixin track() { 
                    -webkit-appearance: slider-horizontal;
                    height: 2px;
                    padding: 0;
                    cursor: pointer;
                }
                @mixin thumb() { 
                    box-sizing: border-box;/*FF*/
                    -webkit-appearance: none;
                    width: $module/2;
                    height: $module/2;
                    margin-top: -$spacing;
                    border: $spacing/2 solid ;
                    border-radius: 50%;
                    background: $cor1;
                }


                [type=range] {
                    &::-webkit-slider-runnable-track { @include track }
                    &::-moz-range-track { @include track }
                    &::-ms-track { @include track }

                    &::-webkit-slider-thumb { @include thumb }
                    &::-moz-range-thumb { @include thumb }
                    &::-ms-thumb { @include thumb }
                }

            }

        }

        div#parteVolume {
            width: 150px;
            display: flex;
            align-items: end;
            gap: 20px;

            button#bntVolume {
                width: 23px;
                height: 30px;
                background-image: url(../img/icones/🦆\ icon\ _speaker_.png);
                border: none;
                background-color: transparent;
                margin-bottom: -2px;
            }

            $spacing: 12px;
                $module: 48px;
                :root {
                --progressW: 50%;
                }
                
                .sliderBar {
                    position: relative;
                    margin: 0 $spacing;
                }
                [type=range] {
                    -webkit-appearance: none;
                    width: calc(90% - 50px);
                    vertical-align: middle;
                    border: none;
                    outline: none;
                }
                @mixin track() { 
                    -webkit-appearance: slider-horizontal;
                    height: 2px;
                    padding: 0;
                    cursor: pointer;
                }
                @mixin thumb() { 
                    box-sizing: border-box;/*FF*/
                    -webkit-appearance: none;
                    width: $module/2;
                    height: $module/2;
                    margin-top: -$spacing;
                    border: $spacing/2 solid ;
                    border-radius: 50%;
                    background: $cor1;
                }


                [type=range] {
                    &::-webkit-slider-runnable-track { @include track }
                    &::-moz-range-track { @include track }
                    &::-ms-track { @include track }

                    &::-webkit-slider-thumb { @include thumb }
                    &::-moz-range-thumb { @include thumb }
                    &::-ms-thumb { @include thumb }
                }
        }
    }
}