@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

.concordoInputFalse {
  animation: 1500ms checkboxFalse infinite;
}

@keyframes checkboxFalseSpan {
  0% {
    color: #636363;
  }
  25% {
    color: red;
  }
  50% {
    color: #636363;
  }
  75% {
    color: red;
  }
  100% {
    color: #636363;
  }
}
div#localPesquisaSong, div#localPesquisaSong2 {
  position: absolute;
  z-index: 2;
}

input:focus {
  box-shadow: 0;
  outline: 0;
}

div.localInputPesquisa {
  max-width: 900px;
  max-width: 900px;
  width: 90%;
  margin: 15px auto;
  position: relative;
  z-index: 2;
  left: 50%;
  top: 15px;
  transform: translate(-50%);
}
div.localInputPesquisa input {
  max-width: 900px;
  width: calc(100% - 72px);
  border: none;
  padding: 11px 23px;
  background-color: rgba(75, 75, 75, 0.4705882353);
  display: block;
  border-radius: 24px;
  padding-left: 50px;
  color: #fff;
}
div.localInputPesquisa img {
  position: absolute;
  top: 6.5px;
  left: 10px;
}

/* ini: Preloader */
#carregando2 {
  width: 100%;
  height: 100px;
  bottom: 0px;
  top: auto;
  left: 0px;
}

.carregando, .carregando1 {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  justify-content: center;
  background-color: #272727;
  align-items: center;
  z-index: 10;
}

#carregando {
  display: flex;
}

section.carregando > article {
  width: 80%;
  color: #fff;
}

.preloader .inner {
  position: absolute;
  top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
  left: 50%;
  transform: translate(-50%, -50%);
}

.bolas > div {
  display: inline-block;
  background-color: #fff;
  box-shadow: 2px 2px 3px #181818;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bolas > div:nth-child(1) {
  animation-duration: 0.75s;
  animation-delay: 0;
}

.bolas > div:nth-child(2) {
  animation-duration: 0.75s;
  animation-delay: 0.12s;
}

.bolas > div:nth-child(3) {
  animation-duration: 0.75s;
  animation-delay: 0.24s;
}

@keyframes animarBola {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  16% {
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    transform: scale(1);
    opacity: 1;
  }
}
/* end: Preloader */
audio {
  display: none;
}

.paginas {
  background-color: rgb(24, 24, 24);
}

.navVisible {
  width: 36px;
  height: 100vh;
  background-color: #272727;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 15px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
  margin-left: 0px;
}
.navVisible button#config {
  display: none;
}
.navVisible ul {
  display: flex;
}

.btnEdit {
  width: 28px;
  height: 28px;
  background-color: #0DCBA9;
  border: none;
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4666666667);
  cursor: pointer;
}
.btnEdit:hover {
  scale: 1.1;
}
.btnEdit img {
  width: 28px;
  height: 28px;
}

.btnEdit2 {
  width: 14px;
  height: 14px;
  background-color: #0DCBA9;
  border: none;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4666666667);
  cursor: pointer;
}
.btnEdit2:hover {
  scale: 1.1;
}
.btnEdit2 img {
  width: 10px;
  height: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  width: calc(100vw - 58px);
  position: absolute;
  right: 0px;
  font-family: "Poppins", sans-serif;
  background-color: #181818;
  padding-bottom: 150px;
  padding-top: 100px;
}
body nav {
  width: 58px;
  height: 100vh;
  background-color: #1c1c1c;
  box-shadow: 2px 2px 5px #121111;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
}
body nav button {
  width: 23px;
  height: 23px;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
body nav button:hover {
  transform: scale(1.2);
}
body nav button#config {
  background-image: url(../img/icones/menu.png);
  display: none;
}
body nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 90vh;
  gap: 30px;
}
body nav ul li button#HomeBtn {
  background-image: url(../img/icones/home.png);
}
body nav ul li button#BibliotecaBtn {
  background-image: url(../img/icones/icon\ _heart\ add_.png);
}
body nav ul li button#PlaylistBtn {
  background-image: url(../img/icones/playlist.png);
}
body nav ul li button#PagPessoal {
  background-image: url(../img/icones/icon\ _user\ edit.png);
}
body nav ul li button#AddMusicaBtn {
  background-image: url(../img/icones/addMusic.png);
}
body section#localBanners {
  max-width: 1288px;
  width: 90%;
  height: 330px;
  margin: 28px auto 53px;
  position: relative;
  background-color: rgba(75, 75, 75, 0.4705882353);
  border-radius: 22px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/banners/Banner1.png);
  background-position: bottom center;
}
body main {
  width: 100%;
  height: auto;
}
body main section {
  max-width: 1288px;
  width: 90%;
  height: auto;
  margin: 0px auto 38px;
  color: #fff;
  display: none;
}
body main section#Recente {
  display: none;
  overflow: auto;
}
body main section#Recente article {
  width: auto;
  max-width: 1220px;
}
body main section#Recente article div {
  display: inline-block;
}
body main section#MaisTocadas {
  display: block;
}
body main section article {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-top: 15px;
}
body main section article div.musicaRecente {
  width: 123px;
  height: 123px;
  cursor: pointer;
  overflow: hidden;
  background-color: #1c1c1c;
  box-shadow: 2px 2px 5px #121111;
}
body main section article div.musicaRecente img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main section article div.musicaMaisTocada {
  width: 139px;
  height: 192px;
  overflow: hidden;
  cursor: pointer;
  background-color: #1c1c1c;
  box-shadow: 2px 2px 5px #121111;
}
body main section article div.musicaMaisTocada div.localImgMaisTocada {
  width: 118px;
  height: 107px;
  background-color: #fff;
  margin: 12px auto;
}
body main section article div.musicaMaisTocada div.localImgMaisTocada img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body main section article div.musicaMaisTocada h3 {
  width: 118px;
  max-height: 32px;
  font-size: 12px;
  margin: 2px auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
body main section article div.musicaMaisTocada p {
  width: 118px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  margin: auto;
  color: #636363;
}
body section#pagAddMusicas {
  width: calc(100% - 60px);
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
  display: none;
  overflow: auto;
  z-index: 2;
  padding: 30px 0px;
}
body section#pagAddMusicas article {
  width: 100%;
  min-height: calc(100vh + 110px);
}
body section#pagAddMusicas article h1 {
  max-width: 358px;
  margin: 33px auto;
  text-align: center;
  color: #fff;
  font-size: 24px;
}
body section#pagAddMusicas article button#btnFecharAddMusic {
  width: 23px;
  height: 23px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/icones/X.png);
  position: absolute;
  top: 60px;
  right: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
body section#pagAddMusicas article div {
  max-width: 900px;
  margin: auto;
  color: #fff;
  font-size: 15px;
}
body section#pagAddMusicas article div div.localInputPesquisa {
  width: 100%;
  max-width: 900px;
  margin: 14px auto 32px;
}
body section#pagAddMusicas article div div.localInputPesquisa input {
  max-width: 900px;
  width: calc(100% - 72px);
  border: none;
  padding: 11px 23px;
  background-color: rgba(75, 75, 75, 0.4705882353);
  display: block;
  border-radius: 24px;
  padding-left: 50px;
  color: #fff;
}
body section#pagAddMusicas article div div.localInputPesquisa img {
  left: 15px;
}
body section#pagAddMusicas article div div#localBtnsAddMusica {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body section#pagAddMusicas article div div#localBtnsAddMusica input {
  display: none;
}
body section#pagAddMusicas article div div#localBtnsAddMusica label {
  border: none;
  background-color: #636363;
  color: #fff;
  margin: 55px 0px 40px;
  padding: 12px 55px;
  cursor: pointer;
}
body section#pagAddMusicas article div div#localPublicaPrivadaMusicaAdd {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  align-items: end;
  margin: 0px;
}
body section#pagAddMusicas article div div#localPublicaPrivadaMusicaAdd input[type=checkbox] {
  all: unset;
  width: 25px;
  height: 25px;
  margin-top: 20px;
  border: 1px solid #636363;
  cursor: pointer;
}
body section#pagAddMusicas article div div#localPublicaPrivadaMusicaAdd input[type=checkbox]:checked {
  background-color: #0DCBA9;
  border: 1px solid #0DCBA9;
}
body section#pagAddMusicas article div button#postar {
  border: none;
  background-color: #636363;
  color: #fff;
  margin: 36px auto;
  padding: 12px 55px;
  display: block;
  font-size: 16px;
  font-family: "Carter One", cursive;
  cursor: pointer;
}
body section#pagPesquisa {
  width: calc(100% - 60px);
  height: calc(100vh - 200px);
  position: fixed;
  top: 0px;
  right: 0px;
  display: none;
  overflow: auto;
  z-index: 2;
  padding: 100px 0px;
}
body section#pagPesquisa h1 {
  max-width: 1288px;
  width: 90%;
  height: auto;
  margin: 20px auto 10px;
  color: #fff;
  display: none;
  padding-top: 60px;
}
body section#pagPesquisa h1 span {
  color: #0DCBA9;
  font-family: "Carter One", cursive;
}
body section#pagPesquisa article {
  max-width: 1288px;
  height: auto;
  margin: 0px auto 10px;
  color: #fff;
  width: 90%;
  display: none;
}
body section#pagPesquisa article div.musicaMaisTocada {
  margin: 5px 10px;
  display: inline-block;
  background-color: #1c1c1c;
  box-shadow: 2px 2px 5px #121111;
}
body section#pagPesquisa article div {
  width: 139px;
  height: 192px;
  overflow: hidden;
  cursor: pointer;
}
body section#pagPesquisa article div#localFotoAutorPesquisa {
  background-color: #1c1c1c;
  box-shadow: 2px 2px 5px #121111;
}
body section#pagPesquisa article div div.localImgMaisTocada {
  width: 118px;
  height: 107px;
  background-color: #fff;
  margin: 12px auto;
}
body section#pagPesquisa article div div.localImgMaisTocada img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body section#pagPesquisa article div h3 {
  width: 118px;
  max-height: 32px;
  font-size: 12px;
  margin: 2px auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
body section#pagPesquisa article div p {
  width: 118px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  margin: auto;
  color: #636363;
}
body section#pagPesquisa article#autorPesquisa {
  width: 90%;
  height: 250px;
  margin: 0px auto 20px;
  display: none;
  background-color: transparent;
}
body section#pagPesquisa article#autorPesquisa div#sobreAutor {
  width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 20px;
  background-color: #1c1c1c;
  box-shadow: 2px 2px 5px #121111;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  gap: 30px;
}
body section#pagPesquisa article#autorPesquisa div#sobreAutor h1 {
  width: auto;
  max-width: auto;
  margin: 0px;
  font-size: 30px;
  padding: 0px;
  font-family: "Carter One", cursive;
}
body section#pagPesquisa article#autorPesquisa div#sobreAutor div#localFotoAutorPesquisa {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body section#pagPesquisa article#autorPesquisa div#sobreAutor div#localFotoAutorPesquisa img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body section#pagPesquisa article#autorPesquisa div#loaclMusicasDoAutorPesquisa {
  width: calc(100% - 228px);
  height: 100%;
  justify-content: space-between;
  box-shadow: 2px 2px 10px #121111;
}
body section#pagPesquisa article#autorPesquisa div#loaclMusicasDoAutorPesquisa div#musicaAutor1, body section#pagPesquisa article#autorPesquisa div#loaclMusicasDoAutorPesquisa div#musicaAutor2, body section#pagPesquisa article#autorPesquisa div#loaclMusicasDoAutorPesquisa div#musicaAutor3, body section#pagPesquisa article#autorPesquisa div#loaclMusicasDoAutorPesquisa div#musicaAutor4 {
  display: none;
}
body section#pagPesquisa article#autorPesquisa div#loaclMusicasDoAutorPesquisa div.musicaFavorias {
  background-color: #1c1c1c;
  box-shadow: 2px 2px 5px #121111;
}
body section#pagPesquisa article#autorPesquisa div#loaclMusicasDoAutorPesquisa div {
  width: calc(100% - 20px);
  padding: 10px;
  height: 43px;
  display: flex;
  align-items: center;
}
body section#pagPesquisa article#autorPesquisa div#loaclMusicasDoAutorPesquisa div div div.localImgDivAutorMusicas {
  width: 50px;
  height: 40px;
}
body section#pagPesquisa article#autorPesquisa div#loaclMusicasDoAutorPesquisa div div div.localImgDivAutorMusicas img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body section#pagPesquisa article#autorPesquisa div#loaclMusicasDoAutorPesquisa div img {
  width: 20px;
}
body section#pagPesquisa article#relacionadas {
  margin-bottom: 300px;
}
body section#pagFavoritas {
  width: calc(100% - 60px);
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
  display: none;
  overflow: auto;
  z-index: 2;
  background-color: #181818;
}
body section#pagFavoritas article {
  background-image: linear-gradient(to bottom, #0DCBA9, rgba(0, 255, 209, 0.35), rgba(84, 84, 84, 0.08));
  width: 100%;
  min-height: calc(100vh + 110px);
  padding-bottom: 100px;
}
body section#pagFavoritas article div#headerFavoritas {
  width: calc(100% - 70px);
  display: flex;
  align-items: end;
  padding: 35px 35px 67px 35px;
}
body section#pagFavoritas article div#headerFavoritas img {
  cursor: pointer;
  border-radius: 40px;
}
body section#pagFavoritas article div#headerFavoritas h1 {
  font-size: 96px;
  color: #fff;
  font-family: "Rubik", sans-serif;
  margin-left: 47px;
}
body section#pagFavoritas article div.musicaFavorias {
  width: calc(100% - 70px);
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  padding: 23px 35px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1764705882);
  cursor: pointer;
}
body section#pagFavoritas article div.musicaFavorias div {
  display: flex;
  align-items: center;
}
body section#pagFavoritas article div.musicaFavorias div div.localImgMscFavoritas {
  width: 64px;
  height: 64px;
}
body section#pagFavoritas article div.musicaFavorias div div.localImgMscFavoritas img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body section#pagFavoritas article div.musicaFavorias div div.localTextoMscFavoritas {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 11px;
  margin-left: 15px;
}
body section#pagFavoritas article div.musicaFavorias div div.localTextoMscFavoritas h3 {
  font-size: 13px;
}
body section#pagFavoritas article div.musicaFavorias div div.localTextoMscFavoritas p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4705882353);
}
body section#pagFavoritas article div.musicaFavorias img {
  width: 23px;
  height: 20px;
}
body section#pagPessoalUser {
  width: calc(100% - 60px);
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
  display: none;
  overflow: auto;
  z-index: 2;
  background-color: #181818;
}
body section#pagPessoalUser article {
  width: 100%;
  min-height: calc(100vh + 110px);
  padding-bottom: 100px;
}
body section#pagPessoalUser article div#headerPessalUser {
  width: calc(100% - 70px);
  height: 300px;
  display: flex;
  align-items: end;
  padding: 35px 35px 67px 35px;
  background-color: #272727;
  position: relative;
  margin-bottom: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body section#pagPessoalUser article div#headerPessalUser img#imgUserPagPessoal {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #0DCBA9;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 20px;
  position: absolute;
  bottom: -50px;
}
body section#pagPessoalUser article div#headerPessalUser div {
  max-width: 531px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}
body section#pagPessoalUser article div#headerPessalUser div img#imgPerfilUserPagPessoal {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  margin: auto;
  background-color: #0DCBA9;
  border-radius: 50%;
  padding: 20px;
}
body section#pagPessoalUser article div#headerPessalUser div h1 {
  font-size: 66px;
  color: #fff;
  font-family: "Carter One", cursive;
}
body section#pagPessoalUser article div#headerPessalUser div textarea {
  width: 100%;
  resize: none;
  background-color: transparent;
  font-size: 66px;
  font-weight: 900;
  border: none;
  color: #0DCBA9;
  font-family: "Carter One", cursive;
}
body section#pagPessoalUser article div#headerPessalUser div textarea::-moz-placeholder {
  color: #0DCBA9;
  font-weight: 900;
}
body section#pagPessoalUser article div#headerPessalUser div textarea::placeholder {
  color: #0DCBA9;
  font-weight: 900;
}
body section#pagPessoalUser article div#headerPessalUser div textarea:focus {
  box-shadow: 0;
  outline: 0;
}
body section#pagPessoalUser article div#addPlaylist {
  width: calc(100% - 90px);
  color: #0DCBA9;
  margin: 100px 20px;
}
body section#pagPessoalUser article div#addPlaylist input {
  width: 100%;
  border: none;
  padding: 11px 23px;
  background-color: rgba(75, 75, 75, 0.4705882353);
  display: block;
  border-radius: 24px;
  color: #fff;
  margin: 10px -5px 50px;
}
body section#pagPessoalUser article div#addPlaylist div#localMusicaPlayListPesquisa div.musicaPesquisaPlaylist {
  width: 100%;
  display: flex;
  color: #fff;
  align-items: center;
  font-family: "Rubik", sans-serif;
  padding: 23px 35px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1764705882);
  cursor: pointer;
  justify-content: space-between;
}
body section#pagPessoalUser article div#addPlaylist div#localMusicaPlayListPesquisa div.musicaPesquisaPlaylist div {
  display: flex;
  gap: 20px;
}
body section#pagPessoalUser article div#addPlaylist div#localMusicaPlayListPesquisa div.musicaPesquisaPlaylist div img {
  width: 64px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
}
body section#pagPessoalUser article div#addPlaylist div#localMusicaPlayListPesquisa div.musicaPesquisaPlaylist div div {
  display: flex;
  flex-direction: column;
}
body section#pagPessoalUser article div#addPlaylist div#localMusicaPlayListPesquisa div.musicaPesquisaPlaylist div div strong {
  font-size: 13px;
}
body section#pagPessoalUser article div#addPlaylist div#localMusicaPlayListPesquisa div.musicaPesquisaPlaylist div div p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4705882353);
}
body section#pagPessoalUser article div#addPlaylist div#localMusicaPlayListPesquisa div.musicaPesquisaPlaylist img.imgPlusPlaylist {
  width: 30px;
  height: 30px;
}
body section#pagPessoalUser div.musicaPostadaUser {
  width: calc(100% - 70px);
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  padding: 23px 35px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1764705882);
  cursor: pointer;
}
body section#pagPessoalUser div.musicaPostadaUser div {
  display: flex;
  align-items: center;
}
body section#pagPessoalUser div.musicaPostadaUser div div.localMusicaPostadaUser {
  width: 64px;
  height: 64px;
}
body section#pagPessoalUser div.musicaPostadaUser div div.localMusicaPostadaUser img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body section#pagPessoalUser div.musicaPostadaUser div div.localTextoPostadoUser {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 11px;
  margin-left: 15px;
}
body section#pagPessoalUser div.musicaPostadaUser div div.localTextoPostadoUser h3 {
  font-size: 13px;
}
body section#pagPessoalUser div.musicaPostadaUser div div.localTextoPostadoUser p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4705882353);
}
body section#pagPessoalUser div.musicaPostadaUser img {
  width: 23px;
  height: 20px;
}
body section#pop-upEditarPerfil {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4666666667);
  z-index: 2;
}
body section#pop-upEditarPerfil article {
  width: 95%;
  max-width: 500px;
  height: auto;
  background-color: #181818;
  padding: 60px 30px 30px;
  color: #fff;
  position: relative;
}
body section#pop-upEditarPerfil article button#xEditarPerfil {
  width: 23px;
  height: 23px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/icones/X.png);
  position: absolute;
  top: -20px;
  right: -70px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
body section#pop-upEditarPerfil article input {
  max-width: 900px;
  width: calc(100% - 46px);
  border: none;
  padding: 11px 23px;
  background-color: rgba(75, 75, 75, 0.4705882353);
  display: block;
  border-radius: 24px;
  color: #fff;
  margin: 10px 0px 30px;
}
body section#pop-upEditarPerfil article button {
  border: none;
  background-color: #636363;
  color: #fff;
  margin: 36px auto;
  padding: 12px 55px;
  display: block;
  font-size: 16px;
  font-family: "Carter One", cursive;
  cursor: pointer;
}
body section#pagSobreMusicaTocando {
  width: calc(100% - 60px);
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
  display: none;
  overflow: hidden;
  z-index: 2;
  background-color: #121212;
}
body section#pagSobreMusicaTocando article {
  width: 100%;
  height: 100vh;
  padding: 100px 0px;
  color: #fff;
  overflow: hidden;
}
body section#pagSobreMusicaTocando article img#pagSobreMusicaImgMusica {
  width: 85%;
  max-width: 500px;
  height: 70cqw;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: auto;
}
body section#pagSobreMusicaTocando article div {
  width: 85%;
  max-width: 500px;
  margin: 25px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body section#pagSobreMusicaTocando article div div {
  display: block;
}
body section#pagSobreMusicaTocando article div div h3 {
  font-size: 23px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
body section#pagSobreMusicaTocando article div div p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
  color: #636363;
}
body section#pagSobreMusicaTocando article div img {
  width: 24px;
  height: 22px;
}
body section#menuTocandoMusica {
  width: calc(100% - 32px);
  height: 100px;
  position: fixed;
  bottom: -100vh;
  transition: 500ms bottom ease-out;
  left: 0px;
  background-color: #121212;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  color: #fff;
}
body section#menuTocandoMusica div#parteNomeMusica {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: end;
}
body section#menuTocandoMusica div#parteNomeMusica img#imgMusicaTocandoAgora {
  width: 65px;
  height: 65px;
  background-color: #fff;
  margin-right: 19px;
  -o-object-fit: cover;
     object-fit: cover;
}
body section#menuTocandoMusica div#parteNomeMusica div {
  margin-right: 30px;
}
body section#menuTocandoMusica div#parteNomeMusica div h3 {
  width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  font-weight: 500;
}
body section#menuTocandoMusica div#parteNomeMusica div p {
  width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
  color: #636363;
}
body section#menuTocandoMusica div#parteNomeMusica img#hearAdd {
  width: 20px;
  margin-bottom: -20px;
}
body section#menuTocandoMusica div#parteCentralConfigMusica {
  width: 90%;
  max-width: 485px;
}
body section#menuTocandoMusica div#parteCentralConfigMusica div {
  width: 185px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 7px;
}
body section#menuTocandoMusica div#parteCentralConfigMusica div button {
  background-color: transparent;
  border: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body section#menuTocandoMusica div#parteCentralConfigMusica div button#back {
  width: 24px;
  height: 22px;
  background-image: url(../img/icones/back.png);
  margin: 0px 5px 0px 10px;
}
body section#menuTocandoMusica div#parteCentralConfigMusica div button#play {
  width: 47px;
  height: 47px;
  background-image: url(../img/icones/pause.png);
}
body section#menuTocandoMusica div#parteCentralConfigMusica div button#next {
  width: 24px;
  height: 22px;
  background-image: url(../img/icones/next.png);
  margin: 0px 10px 0px 5px;
}
body section#menuTocandoMusica div#parteCentralConfigMusica div button#repetir {
  width: 15px;
  height: 15px;
  background-image: url(../img/icones/icon\ _repeat_.png);
}
body section#menuTocandoMusica div#parteCentralConfigMusica div button#aleatorio {
  width: 15px;
  height: 15px;
  background-image: url(../img/icones/icon\ _arrow\ swap\ horizontal_.png);
}
body section#menuTocandoMusica div#parteCentralConfigMusica div#barraTime {
  width: 100%;
  font-size: 10px;
  display: flex;
  align-items: center;
  margin: 5px auto;
}
body section#menuTocandoMusica div#parteCentralConfigMusica div#barraTime :root {
  --progressW: 50%;
}
body section#menuTocandoMusica div#parteCentralConfigMusica div#barraTime .sliderBar {
  position: relative;
  margin: 0 12px;
}
body section#menuTocandoMusica div#parteCentralConfigMusica div#barraTime [type=range] {
  -webkit-appearance: none;
  width: calc(100% - 50px);
  vertical-align: middle;
  border: none;
  outline: none;
}
body section#menuTocandoMusica div#parteCentralConfigMusica div#barraTime [type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: slider-horizontal;
  height: 2px;
  padding: 0;
  cursor: pointer;
}
body section#menuTocandoMusica div#parteCentralConfigMusica div#barraTime [type=range]::-moz-range-track {
  -webkit-appearance: slider-horizontal;
  height: 2px;
  padding: 0;
  cursor: pointer;
}
body section#menuTocandoMusica div#parteCentralConfigMusica div#barraTime [type=range]::-ms-track {
  -webkit-appearance: slider-horizontal;
  height: 2px;
  padding: 0;
  cursor: pointer;
}
body section#menuTocandoMusica div#parteCentralConfigMusica div#barraTime [type=range]::-webkit-slider-thumb {
  box-sizing: border-box; /*FF*/
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  border: 6px solid;
  border-radius: 50%;
  background: #0DCBA9;
}
body section#menuTocandoMusica div#parteCentralConfigMusica div#barraTime [type=range]::-moz-range-thumb {
  box-sizing: border-box; /*FF*/
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  border: 6px solid;
  border-radius: 50%;
  background: #0DCBA9;
}
body section#menuTocandoMusica div#parteCentralConfigMusica div#barraTime [type=range]::-ms-thumb {
  box-sizing: border-box; /*FF*/
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  border: 6px solid;
  border-radius: 50%;
  background: #0DCBA9;
}
body section#menuTocandoMusica div#parteVolume {
  width: 150px;
  display: flex;
  align-items: end;
  gap: 20px;
}
body section#menuTocandoMusica div#parteVolume button#bntVolume {
  width: 23px;
  height: 30px;
  background-image: url(../img/icones/🦆\ icon\ _speaker_.png);
  border: none;
  background-color: transparent;
  margin-bottom: -2px;
}
body section#menuTocandoMusica div#parteVolume :root {
  --progressW: 50%;
}
body section#menuTocandoMusica div#parteVolume .sliderBar {
  position: relative;
  margin: 0 12px;
}
body section#menuTocandoMusica div#parteVolume [type=range] {
  -webkit-appearance: none;
  width: calc(90% - 50px);
  vertical-align: middle;
  border: none;
  outline: none;
}
body section#menuTocandoMusica div#parteVolume [type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: slider-horizontal;
  height: 2px;
  padding: 0;
  cursor: pointer;
}
body section#menuTocandoMusica div#parteVolume [type=range]::-moz-range-track {
  -webkit-appearance: slider-horizontal;
  height: 2px;
  padding: 0;
  cursor: pointer;
}
body section#menuTocandoMusica div#parteVolume [type=range]::-ms-track {
  -webkit-appearance: slider-horizontal;
  height: 2px;
  padding: 0;
  cursor: pointer;
}
body section#menuTocandoMusica div#parteVolume [type=range]::-webkit-slider-thumb {
  box-sizing: border-box; /*FF*/
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  border: 6px solid;
  border-radius: 50%;
  background: #0DCBA9;
}
body section#menuTocandoMusica div#parteVolume [type=range]::-moz-range-thumb {
  box-sizing: border-box; /*FF*/
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  border: 6px solid;
  border-radius: 50%;
  background: #0DCBA9;
}
body section#menuTocandoMusica div#parteVolume [type=range]::-ms-thumb {
  box-sizing: border-box; /*FF*/
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  border: 6px solid;
  border-radius: 50%;
  background: #0DCBA9;
}/*# sourceMappingURL=Home.css.map */