@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

.concordoInputFalse {
  animation: 1500ms checkboxFalse infinite;
}

@keyframes checkboxFalseSpan {
  0% {
    color: #636363;
  }
  25% {
    color: red;
  }
  50% {
    color: #636363;
  }
  75% {
    color: red;
  }
  100% {
    color: #636363;
  }
}
div#localPesquisaSong, div#localPesquisaSong2 {
  position: absolute;
  z-index: 2;
}

input:focus {
  box-shadow: 0;
  outline: 0;
}

div.localInputPesquisa {
  max-width: 900px;
  max-width: 900px;
  width: 90%;
  margin: 15px auto;
  position: relative;
  z-index: 2;
  left: 50%;
  top: 15px;
  transform: translate(-50%);
}
div.localInputPesquisa input {
  max-width: 900px;
  width: calc(100% - 72px);
  border: none;
  padding: 11px 23px;
  background-color: rgba(75, 75, 75, 0.4705882353);
  display: block;
  border-radius: 24px;
  padding-left: 50px;
  color: #fff;
}
div.localInputPesquisa img {
  position: absolute;
  top: 6.5px;
  left: 10px;
}

/* ini: Preloader */
#carregando2 {
  width: 100%;
  height: 100px;
  bottom: 0px;
  top: auto;
  left: 0px;
}

.carregando, .carregando1 {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  justify-content: center;
  background-color: #272727;
  align-items: center;
  z-index: 10;
}

#carregando {
  display: flex;
}

section.carregando > article {
  width: 80%;
  color: #fff;
}

.preloader .inner {
  position: absolute;
  top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
  left: 50%;
  transform: translate(-50%, -50%);
}

.bolas > div {
  display: inline-block;
  background-color: #fff;
  box-shadow: 2px 2px 3px #181818;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bolas > div:nth-child(1) {
  animation-duration: 0.75s;
  animation-delay: 0;
}

.bolas > div:nth-child(2) {
  animation-duration: 0.75s;
  animation-delay: 0.12s;
}

.bolas > div:nth-child(3) {
  animation-duration: 0.75s;
  animation-delay: 0.24s;
}

@keyframes animarBola {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  16% {
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    transform: scale(1);
    opacity: 1;
  }
}
/* end: Preloader */
audio {
  display: none;
}

.paginas {
  background-color: rgb(24, 24, 24);
}

.navVisible {
  width: 36px;
  height: 100vh;
  background-color: #272727;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 15px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
  margin-left: 0px;
}
.navVisible button#config {
  display: none;
}
.navVisible ul {
  display: flex;
}

.navVisibleCell {
  width: 36px;
  height: calc(100vh - 100px);
  background-color: #272727;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 15px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
  margin-left: 0px;
}
.navVisibleCell button#config {
  display: none;
}
.navVisibleCell ul {
  display: flex;
}

.btnEdit {
  width: 28px;
  height: 28px;
  background-color: #0DCBA9;
  border: none;
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4666666667);
  cursor: pointer;
}
.btnEdit:hover {
  scale: 1.1;
}
.btnEdit img {
  width: 28px;
  height: 28px;
}

.btnExcluirMusica {
  width: 14px;
  height: 14px;
  background-color: #1c1c1c;
  border: none;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4666666667);
  cursor: pointer;
}
.btnExcluirMusica:hover {
  scale: 1.1;
}
.btnExcluirMusica img {
  width: 10px;
  height: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1473px) {
  body section .artigoCentral {
    max-width: 1113px !important;
    margin: auto !important;
  }
}
@media screen and (max-width: 1296px) {
  body section .artigoCentral {
    max-width: 954px !important;
    margin: auto !important;
  }
}
@media screen and (max-width: 1232px) {
  body section#Recente {
    max-width: 1200px;
  }
  body section#MaisTocadas article div.musicaMaisTocada {
    width: 135px;
  }
}
@media screen and (max-width: 1201px) {
  body section#Recente {
    max-width: 907px;
    margin: auto;
  }
  body section#MaisTocadas {
    max-width: 907px;
    margin: auto;
  }
  body section#MaisTocadas article div.musicaMaisTocada {
    width: 139px;
  }
}
@media screen and (max-width: 1120px) {
  body section .artigoCentral {
    max-width: 796px !important;
    margin: auto !important;
  }
}
@media screen and (max-width: 1062px) {
  body section#Recente {
    max-width: 752px;
    margin: auto;
  }
  body section#MaisTocadas {
    max-width: 752px;
    margin: auto;
  }
}
@media screen and (max-width: 944px) {
  body section .artigoCentral {
    max-width: 636px !important;
    margin: auto !important;
  }
  body section#menuTocandoMusica div#parteVolume {
    width: 0px;
  }
  body section#menuTocandoMusica div#parteVolume button, body section#menuTocandoMusica div#parteVolume input {
    display: none;
  }
}
@media screen and (max-width: 892px) {
  body h1 {
    font-size: 15px;
    margin-top: 30px;
  }
  body section#Recente {
    max-width: 600px;
    margin: auto;
  }
  body section#MaisTocadas {
    max-width: 600px;
    margin: auto;
  }
  body section#pagPesquisa article#autorPesquisa {
    height: 200px;
  }
  body section#pagPesquisa article#autorPesquisa div#sobreAutor {
    width: 200px !important;
    gap: 0px;
  }
  body section#pagPesquisa article#autorPesquisa div#loaclMusicasDoAutorPesquisa div {
    height: 29px;
  }
  body section#pagPesquisa article#autorPesquisa div#loaclMusicasDoAutorPesquisa div div.localImgDivAutorMusicas img {
    width: 40px !important;
    height: 30px !important;
  }
  body section#pagPesquisa article#autorPesquisa div#loaclMusicasDoAutorPesquisa div div h3 {
    font-size: 13px !important;
    font-weight: 200 !important;
    max-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  body section#pagPesquisa article#autorPesquisa div#loaclMusicasDoAutorPesquisa img {
    width: 20px !important;
  }
}
@media screen and (max-width: 792px) {
  body section#menuTocandoMusica div#parteNomeMusica {
    display: none;
  }
  body section#menuTocandoMusica div#parteCentralConfigMusica {
    margin: auto;
  }
}
@media screen and (max-width: 770px) {
  body section .artigoCentral {
    max-width: 598px !important;
    margin: auto !important;
  }
  body section#pagPesquisa article#autorPesquisa {
    height: 200px;
  }
  body section#pagPesquisa article#autorPesquisa div#loaclMusicasDoAutorPesquisa div div p {
    display: none;
  }
  body section#pagPesquisa article#autorPesquisa div#loaclMusicasDoAutorPesquisa img {
    width: 20px !important;
  }
  body section#pagFavoritas article div#headerFavoritas {
    padding: 70px 35px 67px 35px;
  }
  body section#pagFavoritas article div#headerFavoritas img {
    width: 25vw;
    height: 25vw;
  }
  body section#pagFavoritas article div#headerFavoritas h1 {
    font-size: 10vw !important;
  }
}
@media screen and (max-width: 723px) {
  body {
    width: 100vw;
    left: 0px;
    padding-top: 120px;
  }
  body nav {
    width: 100%;
    height: 30px;
    position: fixed;
    z-index: 10;
    top: 0px;
    margin-left: 0px;
    background-color: rgba(0, 0, 0, 0.4666666667);
    padding: 10px;
    display: block;
    display: flex;
    align-items: start;
    justify-content: center;
  }
  body nav ul {
    display: none;
  }
  body nav button#config {
    display: block;
    margin: 0px;
  }
  body div#localPesquisaSong, body div#localPesquisaSong2 {
    max-width: 80%;
    transform: translate(-45%);
    top: 60px;
  }
  body .paginas {
    width: 100% !important;
    left: 0px !important;
  }
  body section#Recente {
    max-width: 445px;
    margin: auto;
  }
  body section#MaisTocadas {
    max-width: 445px;
    margin: auto;
  }
  body section#pagPessoalUser article div#headerPessalUser {
    justify-content: center;
  }
  body section#pagPessoalUser article div#headerPessalUser div {
    width: 100% !important;
    height: 100% !important;
    height: auto !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0px !important;
    justify-content: center !important;
  }
  body section#pagPessoalUser article div#headerPessalUser div img {
    position: static !important;
  }
  body section#pagPessoalUser article div#headerPessalUser img {
    left: 23px;
  }
  body section#pagRanking {
    padding: 0px;
  }
  body section#pagRanking article {
    width: 90%;
    margin: auto;
  }
  body section#pagRanking article div div#perfilRanking {
    margin-bottom: 100px;
  }
  body section#pagRanking article div div#perfilRanking div {
    max-width: 100px;
    max-height: 100px;
  }
  body section#pagRanking article div div#perfilRanking div img {
    width: 100%;
    height: 100%;
  }
  .btnEdit {
    top: 56px;
    z-index: 3;
  }
}
@media screen and (max-width: 593px) {
  body section .artigoCentral {
    max-width: 421px !important;
    margin: auto;
  }
  body section .artigoCentral div.musicaMaisTocada {
    width: 120px !important;
    height: 180px !important;
  }
  body section .artigoCentral div.musicaMaisTocada div.localImgMaisTocada {
    width: 90% !important;
    height: 100px !important;
  }
  body section .artigoCentral div.musicaMaisTocada h3 {
    white-space: nowrap !important;
  }
  body section#pagFavoritas article div#headerFavoritas img {
    border-radius: 20px;
  }
}
@media screen and (max-width: 552px) {
  body section#Recente {
    max-width: 388px;
    margin: auto;
  }
  body section#MaisTocadas {
    max-width: 388px;
  }
  body section#MaisTocadas article div.musicaMaisTocada {
    width: 120px;
    height: 180px;
  }
  body section#MaisTocadas article div.musicaMaisTocada div.localImgMaisTocada {
    width: 90%;
    height: 100px;
  }
  body section#MaisTocadas article div.musicaMaisTocada h3 {
    white-space: nowrap;
  }
  body section#pagPesquisa article#autorPesquisa {
    height: 200px;
  }
  body section#pagPesquisa article#autorPesquisa div#sobreAutor {
    width: 95% !important;
    margin: auto !important;
  }
  body section#pagPesquisa article#autorPesquisa div#loaclMusicasDoAutorPesquisa {
    display: none;
  }
}
@media screen and (max-width: 529px) {
  body section .artigoCentral {
    max-width: 289px !important;
    margin: auto !important;
  }
  body section#pagAddMusicas article {
    width: 90%;
    min-height: calc(100vh + 200px);
    margin: auto;
  }
  body section#pagAddMusicas article h1 {
    font-size: 20px;
  }
  body section#pagAddMusicas article div div#localBtnsAddMusica {
    flex-direction: column;
  }
  body section#pagAddMusicas article div div#localBtnsAddMusica label {
    margin: 10px 0px 10px;
  }
}
@media screen and (max-width: 489px) {
  body section#Recente {
    max-width: 257px;
    margin: auto;
  }
  body section#MaisTocadas {
    max-width: 257px;
    margin: auto;
  }
  body section#menuTocandoMusica div#parteCentralConfigMusica div#controles {
    width: 166px;
  }
  body section#menuTocandoMusica div#parteCentralConfigMusica div#controles button#play {
    width: 40px;
    height: 40px;
  }
  body section#menuTocandoMusica div#parteCentralConfigMusica div#controles button#next, body section#menuTocandoMusica div#parteCentralConfigMusica div#controles button#back {
    width: 20px;
    height: 18px;
  }
}/*# sourceMappingURL=responsivo.css.map */