@media screen and (max-width: 1473px) {
    body {    
        section {
            .artigoCentral {
                max-width: 1113px !important;
                margin: auto !important;
            }
        }
    }
}

@media screen and (max-width: 1296px) {
    body {    
        section {
            .artigoCentral {
                max-width: 954px !important;
                margin: auto !important;
            }
        }
    }
}

@media screen and (max-width: 1232px) {
    body {
        section#Recente {
            max-width: 1200px;
        }
    
        section#MaisTocadas {
            article {
                div.musicaMaisTocada {
                    width: 135px;
                }
            }
        }
    }
}

@media screen and (max-width: 1201px) {
    body {
        section#Recente {
            max-width: 907px;
            margin: auto;
        }
    
        section#MaisTocadas {
            max-width: 907px;
            margin: auto;
    
            article {
    
                div.musicaMaisTocada {
                    width: 139px;
                }
            }
        }
    }
}

@media screen and (max-width: 1120px) {
    body {
        section {
            .artigoCentral {
                max-width: 796px !important;
                margin: auto !important;
            }
        }
    }
}


@media screen and (max-width: 1062px) {
    body {
        section#Recente {
            max-width: 752px;
            margin: auto;
        }
    
        section#MaisTocadas {
            max-width: 752px;
            margin: auto;
        }
    }
}

@media screen and (max-width: 944px) {
    body {
        section {
            .artigoCentral {
                max-width: 636px !important;
                margin: auto !important;
            }
        }
    }
}

@media screen and (max-width: 892px) {
    body {
        h1 {
            font-size: 15px;
            margin-top: 30px;
        }

        section#Recente {
            max-width: 600px;
            margin: auto;
        }

        section#MaisTocadas {
            max-width: 600px;
            margin: auto;
        }

        section#pagPesquisa  {
            article#autorPesquisa {
                height: 200px;

                div#sobreAutor {
                    width: 200px !important;
                }

                div#loaclMusicasDoAutorPesquisa {
                    div {
                        height: 20px;

                        div.localImgDivAutorMusicas {
                            img {
                                width: 40px !important;
                                height: 30px !important;
                            }
                        }
                    }

                    img {
                        width: 20px !important;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 770px) {
    body {
        section {
            .artigoCentral {
                max-width: 478px !important;
                margin: auto !important;
            }
        }
    }
}

@media screen and (max-width: 723px) {
    body {
        section#Recente {
            max-width: 445px;
            margin: auto;
        }
    
        section#MaisTocadas {
            max-width: 445px;
            margin: auto;
        }
    }
}

@media screen and (max-width: 593px) {
    body {
        section {
            .artigoCentral {
                max-width: 421px !important;
                margin: auto;

                div.musicaMaisTocada {
                    width: 120px !important;
                    height: 180px !important;
    
                    div.localImgMaisTocada {
                        width: 90% !important;
                        height: 100px !important;
                    }
    
                    h3 {
                        white-space: nowrap !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 552px) {
    body {
        section#Recente {
            max-width: 388px;
            margin: auto;
        }
    
        section#MaisTocadas {
            max-width: 388px;
            article {
                div.musicaMaisTocada {
                    width: 120px;
                    height: 180px;
    
                    div.localImgMaisTocada {
                        width: 90%;
                        height: 100px;
                    }
    
                    h3 {
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 529px) {
    body {
        section {
            .artigoCentral {
                max-width: 289px !important;
                margin: auto !important;
            }
        }
    }
}

@media screen and (max-width: 489px) {
    body {
        section#Recente {
            max-width: 257px;
            margin: auto;
        }
    
        section#MaisTocadas {
            max-width: 257px;
            margin: auto;
        }
    }

}
