@import 'general.scss';

@media screen and (max-width: 1473px) {
    body {    
        section {
            .artigoCentral {
                max-width: 1113px !important;
                margin: auto !important;
            }
        }
    }
}

@media screen and (max-width: 1296px) {
    body {    
        section {
            .artigoCentral {
                max-width: 954px !important;
                margin: auto !important;
            }
        }
    }
}

@media screen and (max-width: 1232px) {
    body {
        section#Recente {
            max-width: 1200px;
        }
    
        section#MaisTocadas {
            article {
                div.musicaMaisTocada {
                    width: 135px;
                }
            }
        }
    }
}

@media screen and (max-width: 1201px) {
    body {
        section#Recente {
            max-width: 907px;
            margin: auto;
        }
    
        section#MaisTocadas {
            max-width: 907px;
            margin: auto;
    
            article {
    
                div.musicaMaisTocada {
                    width: 139px;
                }
            }
        }
    }
}

@media screen and (max-width: 1120px) {
    body {
        section {
            .artigoCentral {
                max-width: 796px !important;
                margin: auto !important;
            }
        }
    }
}


@media screen and (max-width: 1062px) {
    body {
        section#Recente {
            max-width: 752px;
            margin: auto;
        }
    
        section#MaisTocadas {
            max-width: 752px;
            margin: auto;
        }
    }
}

@media screen and (max-width: 944px) {
    body {
        section {
            .artigoCentral {
                max-width: 636px !important;
                margin: auto !important;
            }
        }

        section#menuTocandoMusica {
            div#parteVolume {
                width: 0px;

                button, input {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 892px) {
    body {
        h1 {
            font-size: 15px;
            margin-top: 30px;
        }

        section#Recente {
            max-width: 600px;
            margin: auto;
        }

        section#MaisTocadas {
            max-width: 600px;
            margin: auto;
        }

        section#pagPesquisa  {
            article#autorPesquisa {
                height: 200px;

                div#sobreAutor {
                    width: 200px !important;
                    gap: 0px;
                }

                div#loaclMusicasDoAutorPesquisa {
                    div {
                        height: 29px;

                        div.localImgDivAutorMusicas {
                            img {
                                width: 40px !important;
                                height: 30px !important;
                            }
                        }

                        div {
                            h3 {
                                font-size: 13px !important;
                                font-weight: 200 !important;
                                max-height: 16px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }

                    img {
                        width: 20px !important;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 792px) {
    body {
        section#menuTocandoMusica {
            div#parteNomeMusica {
                display: none;
            }

            div#parteCentralConfigMusica {
                margin: auto;
            }
        }
    }
}

@media screen and (max-width: 770px) {
    body {
        section {
            .artigoCentral {
                max-width: 598px !important;
                margin: auto !important;
            }
        }

        section#pagPesquisa  {
            article#autorPesquisa {
                height: 200px;

                div#loaclMusicasDoAutorPesquisa {
                    div {

                        div {
                            p {
                                display: none;
                            }
                        }
                    }

                    img {
                        width: 20px !important;
                    }
                }
            }
        }

        section#pagFavoritas {
            article {
                div#headerFavoritas {
                    padding: 70px 35px 67px 35px;

                    img {
                        width: 25vw;
                        height: 25vw;
                    }

                    h1 {
                        font-size: 10vw !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 723px) {
    body {
        width: 100vw;
        left: 0px;
        padding-top: 120px;

        nav {
            width: 100%;
            height: 30px;
            position: fixed;
            z-index: 10;
            top: 0px;
            margin-left: 0px;
            background-color: $sombra;
            padding: 10px;
            display: block;
            display: flex;
            align-items: start;
            justify-content: center;

            ul {
                display: none;
            }

            button#config {
                display: block;
                margin: 0px;
            }

        }

        div#localPesquisaSong, div#localPesquisaSong2 {
            max-width: 80%;
            transform: translate(-45%);
            top: 60px;
        }

        .paginas {
            width: 100% !important;
            left: 0px !important;
        }

        section#Recente {
            max-width: 445px;
            margin: auto;
        }
    
        section#MaisTocadas {
            max-width: 445px;
            margin: auto;
        }

        section#pagPessoalUser {
            article {
                div#headerPessalUser {
                    justify-content: center;

                    div {
                        width: 100% !important;
                        height: 100% !important;
                        height: auto !important;
                        display: flex !important;
                        flex-direction: column !important;
                        align-items: center !important;
                        justify-content: center !important;
                        margin: 0px !important;
                        justify-content: center !important;

                        img {
                            position: static !important;
                        }
                    }

                    img {
                        left: 23px;
                    }
                }
            }
        }

        section#pagRanking {
            padding: 0px;

            article {
                width: 90%;
                margin: auto;

                div {
                    div#perfilRanking {
                        margin-bottom: 100px;

                        div {
                            max-width: 100px;
                            max-height: 100px;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    .btnEdit {
        top: 56px;
        z-index: 3;
    }

}

@media screen and (max-width: 593px) {
    body {
        section {
            .artigoCentral {
                max-width: 421px !important;
                margin: auto;

                div.musicaMaisTocada {
                    width: 120px !important;
                    height: 180px !important;
    
                    div.localImgMaisTocada {
                        width: 90% !important;
                        height: 100px !important;
                    }
    
                    h3 {
                        white-space: nowrap !important;
                    }
                }
            }
        }

        section#pagFavoritas {
            article {
                div#headerFavoritas {
                    img {
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 552px) {
    body {
        section#Recente {
            max-width: 388px;
            margin: auto;
        }
    
        section#MaisTocadas {
            max-width: 388px;
            article {
                div.musicaMaisTocada {
                    width: 120px;
                    height: 180px;
    
                    div.localImgMaisTocada {
                        width: 90%;
                        height: 100px;
                    }
    
                    h3 {
                        white-space: nowrap;
                    }
                }
            }
        }
        
        section#pagPesquisa  {
            article#autorPesquisa {
                height: 200px;

                div#sobreAutor {
                    width: 95% !important;
                    margin: auto !important;
                }

                div#loaclMusicasDoAutorPesquisa {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 529px) {
    body {
        section {
            .artigoCentral {
                max-width: 289px !important;
                margin: auto !important;
            }

            &#pagAddMusicas {
                article {
                    width: 90%;
                    min-height: calc(100vh + 200px);
                    margin: auto;

                    h1 {
                        font-size: 20px;
                    }

                    div {
                        div#localBtnsAddMusica {
                            flex-direction: column;
    
                            label {
                                margin: 10px 0px 10px;
                            }
                        }
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 489px) {
    body {
        section#Recente {
            max-width: 257px;
            margin: auto;
        }
    
        section#MaisTocadas {
            max-width: 257px;
            margin: auto;
        }

        section#menuTocandoMusica {
            div#parteCentralConfigMusica {
                
                div#controles {
                    width: 166px;
                    button#play {
                        width: 40px;
                        height: 40px;
                    }

                    button#next, button#back {
                        width: 20px;
                        height: 18px;
                    }
                }
            }
        }
    }

}
