body {
    text-align: center;
    padding: 30px 20px 100px;
}

body > img#imgUser {
    display: none;
}

body > svg.bi-person-circle, img#imgUser {
    position: absolute;
    right: 20px;
    width: 50px;
    height: 50px;
    top: 10px;
    border-radius: 50%;
    cursor: pointer;
}

body > p {
    margin: 20px;
}

body > section#salas {
    margin-top: 100px;
}

body > section#salas > article {
    width: 90%;
    max-width: 500px;
    height: 300px;
    border: 1px solid black;
    margin: auto;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
}

body > section#salas > article > a {
    width: calc(100% - 20px);
    padding: 20px 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: black;
}

body > section#salas > article > a:hover {
    background-color: black;
    color: white;
}

body > section#salas > a#btnCriarSala {
    width: 90%;
    max-width: 500px;
    padding: 20px 0px;
    margin: 10px auto;
    color: black;
    cursor: pointer;
    display: block;
    border: 1px solid black;
}

body > section#salas > a#btnCriarSala:hover {
    background-color: black;
    color: white;
}